{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        </div>
        <!-- <div class="row justify-content-md-center" >
            <img src="/static/images/Clan_Games_Example.jpg"></a>
        </div> -->
        <div class="row justify-content-md-center" >
            <img src="/static/images/Clan-Games-Template.png"></a>
        </div>
        
        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
